<div class="table-list-container">
    <div class="table-responsive">
        <table class="coffee-list-table table">
            <thead>
                <tr class="coffee-list-tr">
                    <th class="list-hd-th" style="width:15%;">姓名</th>
                    <th class="list-hd-th" style="width:10%;">联系电话</th>
                    <th class="list-hd-th" style="width:20%;">电子邮箱</th>
                    <th class="list-hd-th" style="width:20%;">店铺名称</th>
                    <th class="list-hd-th" style="width:9%;">店铺地址</th>
                    <th class="list-hd-th" style="width:8%;">店铺联系电话</th>
                    <th class="list-hd-th" style="width:8%;">扫码来源</th>
                    <th class="list-hd-th" style="width:10%;">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr  class="coffee-list-td"
                     dir-paginate="item in coffeeInfoList | itemsPerPage: 4"
                     total-items="30"
                     current-page="1">
                    <td  style="width:15%;"  class="list-bd-td wbba">{{item.name}}</td>
                    <td  style="width:10%;"  class="list-bd-td  wbba">{{item.linkPhone}}</td>
                    <td  style="width:20%;"  class="list-bd-td  wbba">{{item.email}}</td>
                    <td  style="width:20%;"  class="list-bd-td  wbba">{{item.storeName}}</td>
                    <td  style="width:9%;"  class="list-bd-td  wbba">{{item.storeAdress}}</td>
                    <td  style="width:8%;"  class="list-bd-td  wbba">{{item.storeLinkPhone}}</td>
                    <td  style="width:8%;"  class="list-bd-td  wbba">{{item.sweepSource}}</td>
                    <td  style="width:10%;"  class="list-bd-td  wbba">
                        <a href="#">生成二维码</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--分页-->
    <div class="photo-jump-page flr">
        <dir-pagination-controls on-page-change="sysManage.pageChanged(newPageNumber)"
                                 template-url="admin/assets/libs/angular-dirPagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>